* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #eff3ff;
  }
  .container {
    width: 350px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .card {
    position: absolute;
    width: 100%;
    height: 550px;
    padding: 30px 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    top: 50%; /* Position cards vertically centered */
    transform: translateY(-50%); /* Adjust for vertical centering */
  }

  #card1 {
    right: 400px;
  }
  #card2 {
    left: 400px;
  }
  .card img {
    display: block;
    width: 180px;
    max-height: 240px;
    object-fit: cover; /* Ensure the image covers the container while preserving aspect ratio */
    margin: 20px auto;
  }
  .hp {
    width: 80px;
    background-color: #ffffff;
    text-align: center;
    padding: 8px 0;
    border-radius: 30px;
    margin-left: auto;
    font-weight: 400;
  }
  .poke-name {
    text-align: center;
    font-weight: 600;
  }
  .types {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 40px 0;
  }
  .hp span,
  .types span {
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 600;
  }
  .types span {
    padding: 5px 20px;
    border-radius: 20px;
    color: #ffffff;
  }
  .stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  .stats p {
    color: #404060;
  }

  .btn {
    position: fixed; /* Set position to fixed */
    bottom: 100px; /* Position the button 20 pixels from the bottom */
    left: 50%; /* Position the button horizontally centered */
    transform: translateX(-50%); /* Center horizontally */
    display: block;
    padding: 15px 60px;
    font-size: 18px;
    background-color: #101010;
    color: #ffffff;
    margin: 30px auto;
    border: none;
    border-radius: 5px;
  }

  .round {
    position: absolute;
    top: -100px; /* Position the round element at the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    display: none; /* Initially hidden */
    padding: 15px 40px;
    font-size: 18px;
    background-color: #101010;
    color: #ffffff;
    margin: 30px auto;
    border: none;
    border-radius: 5px;
  }
  
  .log {
    position: fixed;
    top: 0; /* Position the log at the top */
    right: 50px; /* Adjust as needed */
    display: none; /* Initially hidden */
  }
  